table {
  background-color: white;
  border-radius: 5px;
  color: #4a4a4a;
  overflow: hidden;
}

table > thead {
  background-color: #ccc;
}

table > thead th {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  padding: 18px 12px;
  text-align: left;
}

table > tbody {
  font-size: 16px;
}

table > tbody tr {
  background-color: #fff;
}

table > tbody tr:nth-child(even) {
  background-color: #eee;
}

table > tbody > tr a {
  display: block;
  padding: 18px 12px;
  color: #4a4a4a;
  text-decoration: none;
}

table .text-right {
  text-align: right;
}
